<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzj.mapper.WfRoleUserMapper">


	<!-- 流程角色用户映射返回map -->
   <resultMap type="com.xzj.domain.WfRoleUser" id="wfRoleUserResultMap">
		<id property="id" column="ID" />
		<result property="roleId" column="ROLE_ID" />
		<result property="userId" column="USER_ID" />
		<result property="deptId" column="DEPT_ID" />
		<result property="createdBy" column="CREATED_BY" jdbcType="INTEGER" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="updatedBy" column="UPDATED_BY" jdbcType="INTEGER" />
		<result property="updationDate" column="UPDATION_DATE" jdbcType="TIMESTAMP" />
		<result property="enabledFlag" column="ENABLED_FLAG" jdbcType="CHAR" />
		<association property="user" javaType="com.xzj.domain.FwUser">
			<id property="id" column="USER_ID" />
			<result property="companyId" column="COMPANY_ID" />
			<result property="username" column="USERNAME" />
			<association property="userInfo" javaType="com.xzj.domain.FwUserInfo">
				<id property="id" column="USERINFO_ID" />
				<result property="employeeName" column="EMPLOYEE_NAME" />
				<result property="identityCardNumber" column="IDENTITY_CARD_NUMBER" />
				<result property="mobile" column="MOBILE" />
				<result property="email" column="EMAIL" />
				<result property="enabledDate" column="ENABLED_DATE" />
			</association>
		</association>
	</resultMap>
	
	
	<select id="getWfRoleUserByRoleId" resultMap="wfRoleUserResultMap" parameterType="int">
		select * from EW_WF_ROLEUSER where ROLE_ID = #{roleId}
	</select>
</mapper>